<div id="tabs">
	<ul>
		<li><a href="#income">Income & Expenses</a></li>
		<li><a href="#loans">Loans</a></li>
		<li><a href="#assets">Assets</a></li>
                <li><a href="#retirement">Retirement</a></li>
                <li><a href="#payment_mode">Payment Mode</a></li>
	</ul>
	<div id="income">
            <div class="line-item"><span class="float-left">Gross Income: </span><%= app_number_to_currency @financial.gross_income %></div>
            <div class='line-item'><span class="float-left">Net Income: </span><%= app_number_to_currency @financial.net_income %></div>
            <div class='line-item'><span class="float-left">Total Monthly Expenses: </span><%= app_number_to_currency @financial.total_expenses %></div>
	</div>
	<div id="loans">
          <div class='line-item'><span class="float-left">Mortgage Payment: </span><%= app_number_to_currency @financial.mortage_payment %></div>
          <div class='line-item'><span class="float-left">Car Payment: </span><%= app_number_to_currency @financial.car_loan_payment %></div>
          <div class='line-item'><span class="float-left">Student Loan Payment: </span><%= app_number_to_currency @financial.student_loan_payment %></div>
          <div class='line-item'><span class="float-left">Other Loan Payments: </span><%= app_number_to_currency @financial.other_loan_payment %></div>
          <div class='line-item'><span class="float-left">Deferred Loan Amounts: </span><%= app_number_to_currency @financial.deferred_loan_amount %></div>
          <div class='line-item'><span class="float-left-long">Credit Card Debts @ 0 % rate: </span><%= app_number_to_currency @financial.cc_debt_at_zero %></div>
          <div class='line-item'><span class="float-left-long">Monthly Payments for 0% rate Debts: </span><%= app_number_to_currency @financial.monthly_cc_payments_at_zero %></div>
          <div class='line-item'><span class="float-left-long">Credit Card Debts @ more than 0 % rate: </span><%= app_number_to_currency @financial.cc_debt_gt_zero %></div>
	</div>
	<div id="assets">
          <div class='line-item'><span class="float-left">Liquid Assets: </span><%= app_number_to_currency @financial.liquid_assets %></div>
          <div class='line-item'><span class="float-left">Investments: </span><%= app_number_to_currency @financial.investments %></div>
	</div>
        <div id="retirement">
          <div class='line-item'><span class="float-left">Retirement Savings: </span><%= app_number_to_currency @financial.retirement_savings %></div>
          <div class='line-item'><span class="float-left">Monthly Retirement Contribution: </span><%= app_number_to_currency @financial.monthly_retirement_contribution %></div>
	</div>
        <div id="payment_mode">
          <div class='line-item'><span class="float-left">Item Cost: </span><%= app_number_to_currency @question.item_cost %></div>
          <% if @question.pm_saving == true %>
              <div class='line-item'><span class="float-left">From Savings: </span><%= app_number_to_currency @question.pm_saving_amount %></div>
          <% end %>
          <% if @question.pm_investment == true %>
              <div class='line-item'><span class="float-left">From Investments: </span><%= app_number_to_currency @question.pm_investment_amount %></div>
          <% end %>
          <% if @question.pm_financing == true %>
              <div class='line-item'><span class="float-left">By Financing: </span><%= app_number_to_currency @question.pm_financing_amount %> per month</div>
          <% end %>
        </div>
</div>