<div id="question-input-short">
  <fieldset>
    <legend><b>About You</b></legend>
  
    <p>
      <%= f.label :reason_to_buy, "Please tell us Why do you want it?" %>
      <%= f.select( :reason_to_buy, (Question::REASON_TO_BUY.sort{|v1,v2| v1[1] <=> v2[1]}.collect{|k| [k[0],k[1] ]}),{:selected => @reason_to_buy.to_s}) %>    
    </p>
    <p>
      <%= f.label :age, "Your Age" %>
      <%= f.text_field :age, :size => 17 , :onblur => "if (this.value == '') {this.value = '0';}",
                                            :onfocus => "if (this.value == '0') {this.value = '';}" %><span style="font-size:12px;color:#0000ff;">(Minimum: 20 Maximum: 65)</span>
    </p>
   <% unless current_user %>
     <p>
      <%= f.label :nick_name, "Choose a Nick Name" %>
      <%= f.text_field :nick_name, :size => 17, :maxlength => 20, :onblur => "if (this.value == '') {this.value = '0';}",
                                            :onfocus => "if (this.value == '0') {this.value = '';}" %>
     </p>
   <% end %>
  </fieldset>
</div>

<fieldset style="margin-top:30px;">
<legend><b>How are you going to pay for your Purchase?</b></legend>
<span style="font-size:14px;color:red;"> (Exclude Additional Monthly Cost of $<%= @recurring_item_cost.to_s %>)</span><br/>
<div style="padding: 0 10px;"></div>

<div style="width: 720px;  margin: 20px auto;background:url('/images/fieldset.gif?1287455943') repeat-x scroll left bottom #F8FDEF;">
<div class="row"  style="color:green;font-weight:bold;font-size: 20px;">
<span class="label">Cost to be covered: </span><span class="formw"> $<%= @item_cost.to_s %></span>
<span id='item-cost' style="display:none;"><%= @item_cost %></span>
</div>
    <div class="row">
      <span class="label"><%= f.label "Contribution from Savings:" %></span>
    <span class1="formw"><%= f.text_field :pm_saving_amount, :value => "", :size => 5, :onblur => "calculateCovered();if (this.value == '') {this.value = '0';}",
                                            :onfocus => "if (this.value == '0') {this.value = '';}",
                                            :onkeyup => "calculateCovered();" %></span></div>
   

    <div class="row">
    <span class="label">
    <%= f.label "Contribution from Investments:" %></span
     <span class1="formw"><%= f.text_field :pm_investment_amount,:size => 5,:onblur => "calculateCovered();if (this.value == '') {this.value = '0';}",
                                            :onfocus => "if (this.value == '0') {this.value = '';}",
                                            :onkeyup => "calculateCovered();" %></span></div>

    <div class="row">
    <span class="label">
    <%= f.label "If Financing, Loan Payment per month:" %></span
     <span class1="formw"><%= f.text_field :pm_financing_amount,:size => 5,:onblur => "calculateCovered();if (this.value == '') {this.value = '0';}",
                                            :onfocus => "if (this.value == '0') {this.value = '';}",
                                            :onkeyup => "calculateCovered();" %></span></div>

    <div class="row" style="font-weight:bold;font-size: 20px;clear:both;text-align:left;">
          <span class="label">
            Covered so far:
           </span
          <div id="status">
          <span id ="show-status" class="formw total"  style="background-color:#FBD9E5;">
          $ <span id ="covered">0</span>
          <span id ="financing" style="display:none;"><%= "and through financing " %></span>
          <span id ="good" style="display:none;"><%= image_tag("/images/tick.png")  %></span>
          <span id ="notyet"><%= image_tag("/images/unchecked.gif")  %></span>
          </span>
          </div>
    </div>
</div>
</fieldset>

<script type="text/javascript">
   $j(function(){  // $(document).ready shorthand
      resetPaymentModeFields();
    });
  function calculateCovered(){
    savings = $('question_pm_saving_amount').value;
    investments = $('question_pm_investment_amount').value;
    financing = $('question_pm_financing_amount').value;
    total = 0;
    itemCost = parseInt($('item-cost').innerHTML);
    if (!isNaN(parseInt(savings)))
      total =  parseInt(savings);

    if (!isNaN(parseInt(investments)))
      total += parseInt(investments);

    if (total < 0){ total = 0;}
   
    $('covered').innerHTML = total;
    
    financing_amount = parseInt(financing);
    if (isNaN(financing_amount) || financing_amount < 0)
      {
        financing_amount = 0;
      }

    if (financing_amount > 0 )
      {
        $('financing').style.display = 'inline';
        $('good').style.display = 'inline';
        $('notyet').style.display = 'none';
        $('show-status').style.backgroundColor = '#99e83f';
      }
    else { $('financing').style.display = 'none'; }

    if (total == itemCost)  {  $('good').style.display = 'inline'; $('notyet').style.display = 'none';$('show-status').style.backgroundColor = '#99e83f'; }

    if (financing_amount <= 0 && total != itemCost)
      {
        $('good').style.display = 'none';
        $('notyet').style.display = 'inline';
        $('show-status').style.backgroundColor = '#FBD9E5';
        return false;
      }
      return true;
  }

function finalCheck() {
  if (calculateCovered())
    {
      return true;
    }
  else
    {
      alert('If you choose to pay Out of pocket, your contributions from Savings and/or Investments should add up to the Total Cost of your Purchase.')
      return false;
    }
}
function resetPaymentModeFields()
{
    var ins = document.getElementsByTagName('input');
    for (var i=0; i<ins.length; i++)
    {
      if (ins[i].getAttribute('type') == 'text' && ins[i].id != 'question_pm_saving_amount')
      {
        ins[i].value = '0';
      }
      if (ins[i].id == 'question_pm_saving_amount')
      {
        ins[i].value = '';
      }
    }
    document.getElementById('covered').innerHTML = "0"
}
</script>

<style type="text/css">
  div.row {
  clear: both;
  padding-top: 10px;
  }

div.row span.label {
  float: left;
  width: 370px;
  text-align: right;
  }

div.row span.formw {
  float: right;
  width: 340px;
  text-align: left;
  }
div.row input {
    float:left;
    margin: 0;
}
  </style>