
<% image_tag ("/images/base-pb-you.png") unless current_user %>
<% image_tag ("/images/loggedin-pb-you.png") if current_user %>
<fieldset style="background:none;">
    
  <div class="row">
    <span class="label"><b><%= f.label :item_name, "I want to" %></b></span>
    <span class="formw">
    <%= f.text_field :item_name, :size => 63, :maxlength => 200,
                 :onblur => "if (this.value == '') {this.value = 'Example: Buy a Car';this.style.color='#999999';}", :onfocus => "if (this.value == 'Example: Buy a Car') {this.value = '';} this.style.color='#333333';" %>
    <span style="font-size:12px;padding-left:73px;color:#0000ff;">Example: Buy a TV, Visit Europe, Go on a Cruise</span>
    </span>
  </div>
  <div class="row">
    <span class="label"><%= f.label :reason_to_buy, "Why do you want it?" %></span>
    <span class="formw"><%= f.select( :reason_to_buy, (Question::REASON_TO_BUY.sort{|v1,v2| v1[1] <=> v2[1]}.collect{|k| [k[0],k[1] ]}),{:selected => @reason_to_buy.to_s}) %></span>
  </div>

  <div class="row">
    <span class="label"><%= f.label :item_cost, "Total Cost of your Purchase" %> </span>
    <span class="formw"><%= f.text_field :item_cost , :size => 20, :maxlength => 9 %><span style="font-size:12px;color:#0000ff;">(Minimum: $100 Maximum: $1,000,000)</span></span>
  </div>
  <div class="row">
    <span class="label"><%= f.label :recurring_item_cost, "Recurring Monthly Costs for your purchase" %></span>
    <span class="formw"><%= f.text_field :recurring_item_cost , :size => 20, :maxlength => 9 %><span style="font-size:12px;color:#0000ff;">(Ex: Insurance for a car, Vet visits for a Pet, Maintenance cost, Subscription cost)</span></span>
  </div>
</fieldset>
<fieldset style="display:none;">
  <legend><b>About You</b></legend>
  <p>
    <%= f.label :age, "Your Age" %><br />    
    <%= f.text_field :age %><span style="font-size:12px;color:#0000ff;">(Minimum: 20 Maximum: 65)</span>
  </p>
 <% unless current_user %>
   <p>
    <%= f.label :nick_name, "Choose a Nick Name" %><br />
    <%= f.text_field :nick_name, :maxlength => 20 %>
   </p>
 <% end %>
</fieldset>
<style type="text/css">
  div.row {
  clear: both;
  padding-top: 10px;
  }

div.row span.label {
  float:left;
  line-height:32px;
  text-align:right;
  width:302px;
  }

div.row span.formw {
  float:right;
  text-align:left;
  width:586px;
  }
div.row input {
    float:left;
    margin: 0;
}
  </style>

