    <p>
      <b><%= f.label :item_name, "I want to" %></b><br/>
      <%= f.text_field :item_name, :size => 63, :maxlength => 200,
                   :onblur => "if (this.value == '') {this.value = 'Example: Buy a Car';this.style.color='#999999';}", :onfocus => "if (this.value == 'Example: Buy a Car') {this.value = '';} this.style.color='#333333';" %>
      <br/><span class="tooltip">Example: Buy a TV, Visit Europe, Go on a Cruise</span>
   </p>

     <div class="row" style="display:none;">
      <span class="label"><%= f.label :reason_to_buy, "Why do you want it?" %></span><br/>
      <span class="formw"><%= f.select( :reason_to_buy, (Question::REASON_TO_BUY.sort{|v1,v2| v1[1] <=> v2[1]}.collect{|k| [k[0],k[1] ]}),{:selected => @reason_to_buy.to_s}) %></span>
     </div>
<br/>
    <p>
      <%= f.label :item_cost, "Total Cost of your Purchase" %><span class="tooltip"> <br/>Minimum: $100 Maximum: $1,000,000</span><br/>
      <%= f.text_field :item_cost , :size => 20, :maxlength => 9, :onblur => "if (this.value == '') {this.value = '0';}",
                                            :onfocus => "if (this.value == '0') {this.value = '';}" %>
    </p>
<br/>
    <p>
      <%= f.label :recurring_item_cost, "Recurring Monthly Costs for your purchase" %><span class="tooltip"><br/> Ex: Insurance for a car, Vet visits for a Pet, Maintenance cost, Subscription cost</span><br/>
      <%= f.text_field :recurring_item_cost , :size => 20, :maxlength => 9, :onblur => "if (this.value == '') {this.value = '0';}",
                                            :onfocus => "if (this.value == '0') {this.value = '';}" %>
   </p>


<fieldset style="display:none;">
  <legend><b>About You</b></legend>
  <p>
    <%= f.label :age, "Your Age" %><br/>
    <%= f.text_field :age %><span class="tooltip">(Minimum: 20 Maximum: 65)</span>
  </p>
 <% unless current_user %>
   <p>
    <%= f.label :nick_name, "Choose a Nick Name" %><br />
    <%= f.text_field :nick_name, :maxlength => 20 %>
   </p>
 <% end %>
</fieldset>

<style type="text/css">
  div.row {
  clear: both;
  padding-top: 10px;
  }

div.row span.label {
  float:left;
  line-height:32px;
  text-align:right;
  width:302px;
  }

div.row span.formw {
  float:right;
  text-align:left;
  width:586px;
  }
div.row input {
    float:left;
    margin: 0;
}
.tooltip {
  font-size:12px;
  color:#0B84E8;
}
  </style>

