<h3>About You and the Item</h3>
<fieldset>
  <legend><b>About Item</b></legend>
  <p>
    <%= f.label :item_name, "What are you planning to buy?" %><br />
    <%= f.text_field :item_name, :size => 63 %>
  </p>
  <p>
    <%= f.label :reason_to_buy, "Why do you want to buy?" %><br />
    <%= f.select( :reason_to_buy, (Question::REASON_TO_BUY.sort{|v1,v2| v1[1] <=> v2[1]}.collect{|k| [k[0],k[1] ]}))  %>    
  </p>

  <p>
    <%= f.label :item_cost, "How much is it going to cost? (between 100 and 1 million only)" %><br />
    <%= f.text_field :item_cost %>
  </p>
  <p>
    <%= f.label :recurring_item_cost, "Recurring costs (Example: insurance, vet visits for pets, any maintenance )" %><br />
    <%= f.text_field :recurring_item_cost %>
  </p>
</fieldset>
<fieldset>
  <legend><b>About You</b></legend>
  <p>
    <%= f.label :age, "Your Age (between 20 and 65 only)" %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :nick_name, "Nick Name" %><br />
    <%= f.text_field :nick_name %>
  </p>
</fieldset>
