<b><%=h question.nick_name %> (<%=  question.age %>)</b> asks

<div class="quote">
I want to <b><%=h question.item_name %></b> <i>costing</i> <b><%= app_number_to_currency  question.item_cost %></b>
  <% if question.recurring_item_cost > 0 %> 
      with a recurring cost of <b><%= app_number_to_currency question.recurring_item_cost %></b> per month.<br/>
  <% else %>
      with no recurring costs.<br/>
  <% end %>
</div>
<div class="expert-verdict" style="margin-top: 10px;">
  <% if question.expert_details.blank? %>
      <div class='expert-denied'>Expert does not have sufficient data</div>
  <% else %>
      Expert says:
      <% if question.expert_verdict? %>
        <span class='expert-approved'>Approved</span>
      <% else %>
        <span class='expert-denied'>Denied</span>
      <% end %>
  <% end %>
</div>