<h2>Based on Your Financial Data</h2>
<div id="financial-details" style="margin-top:20px;">
    <%= render :partial => "financial_details", :object => @financial, :local => {:question => @question} %>
</div>


<div id="expert-response">
<h3>Expert Verdict</h3>
<div style="padding-left:58px;">
  <% if @expert_details.empty? %>
     <span id='expert-denied'>Expert does not have sufficient data</span>
  <% else %>
      <% if @expert_verdict == true %>
        <span class='expert-approved'><%= image_tag ('/images/thumb_up.png') %>Approved</span>
      <% else %>
        <span class='expert-denied'><%= image_tag ('/images/thumb_down.png') %>Denied</span>
      <% end %>
  <% end %>  
</div>
  <h3>Details</h3>
  <ul>
    <%= @expert_details %>
  </ul>
  <h3>Helpful Links</h3>
  <ul>
    <li><%= link_to "Aim to build a retirement nest egg that is 25 times the annual investment income you need" , "http://money.cnn.com/popups/2006/moneymag/25_rules/10.html"%> </li>
    <li><%= link_to "The Balanced Money Formula","http://www.getrichslowly.org/blog/2008/10/27/the-balanced-money-formula/" %> proposed by Elizabeth Warren and Amelia Tyagi in their excellent book, All Your Worth: The Ultimate Lifetime Money Plan states that:<br/>
    The Balanced Money Formula is based on your net income (your income after  taxes). Warren and Tyagi say that, ideally, no more than 50% of your paycheck should be spent on Needs (and keeping them below 35% is best). Of the remaining amount, at least 20% should be devoted to Saving, while up to 30% can be spent on Wants.</li>
  </ul>

</div>

<div id="question">
  <h3>Next Steps</h3>
  <ol>
    <li>
  Your question is now available on our web site. You can view the Expert report anytime and also track Community responses by visiting the link:
  <%= link_to "#{DOMAIN}question/#{@question.id}", :controller => :questions, :action => :show, :id => @question.id  %>
  </li>
  <li>
    You can also view and respond to others' questions by visiting the <%= link_to "main page", '/'  %>
  </li>
  <li>
    If you have any questions or need clarification about the Calculations performed, please visit the link 
    <%= link_to "Learn How Expert Calculates", '/how'  %> for a detailed explanation.
  </li>
  </ol>
</div>
<div id="rules-feedback">
  <h2>Please help us Improve</h2>
    <% form_remote_tag :url => { :action => "report_feedback" },
                      :before => "Element.show('spinner');",:complete => "Element.hide('spinner')" do %>
       <h3>Is this report useful?</h3>
        
          <%= radio_button_tag 'useful', "yes" %>Yes
          <%= radio_button_tag 'useful', "no" %>No
        
        <p>
          <h3>Any Suggestions for Improvement?</h3>
          <%= text_area_tag :suggestion, "Thank you for your feedback", :cols => "50", :rows => "4",
                                             :onblur => "if (this.value == '') {this.value = 'Thank you for your feedback';}", :onfocus => "if (this.value == 'Thank you for your feedback') {this.value = '';}" -%>
        </p>

       
        <br/><%= submit_tag "Submit" %><%= image_tag 'loading.gif', :id=>"spinner", :style=>"display:none;" %>
       
    <% end %>
</div>
<div id="feedback-status" style="background-color:#378314;font-weight:bold;color:#fff;"></div>


