<div id="block-text">
<h2>How does the Expert Calculate Affordability</h2>


The basis of providing you with an Affordability verdict on your purchase is a health checkup that we perform on your finances. This is based on some common-sense checks as well as on some well-established personal finance guidelines as outlined below. The value we provide is in performing all of these checks and presenting you with a single report of your financial health so you can make informed decisions.


<p>
<h3>Check if your Total Monthly expenses are below your Net income</h3>
This is straight forward. We don't like to see you getting into debt, even if by a small amount, and hence throw a red flag if that is the case.
</p>
<p>
<h3>Check if your Debt-to-Income (DTI) ratio is less than or equals 36</h3>
You can learn more about this on <%= link_to 'Wikipedia' , "http://en.wikipedia.org/wiki/Debt-to-income_ratio" %>. 
For this, we ask all your loan payments including your credit card payments even if it is at 0% interest rate.
For the credit card loans at 0%, we expect that there is a fixed monthly payment that you are making whereas
for the credit card loans at greater than 0% interest rate, we understand that you can have varying payments every month and also for other reasons (see next rule) treat it differently and not ask for the monthly payment on those.
</p>

<p>
<h3>Check for Credit Card loans</h3>
We separate the Credit Card loans into 2 categories, those that are at 0% interest rate and those that are at greater than 0% interest rate. The former is treated as a "healthy" loan by us as the lender has deemed you credit-worthy enough to give it to you at 0%. Hence the monthly payments on these loans are added to your total monthly loan payments and used to calculate the DTI ratio.
On the other hand, if you have credit card debt at any rate greater than 0%, it is indicating that you are spending beyond your limits and throw a red flag right away advising you to pay them off first.
</p>
<p>
<h3>Check your Short term Savings for Emergency fund</h3>
Emergency fund provides you the cushion to lead a debt-free lifestyle in the event of a job loss or an unplanned expense like replacing a heater, car, illness etc.
We check for at least 6 months of your living expenses in your liquid assets.
Here is a <%= link_to 'nice guide to Short-Term Savings' , "http://www.fool.com/personal-finance/saving/60-second-guide-to-short-term-savings.aspx" %>.
<br/>
An exception we make is, in the case where you specify that you NEED to make a purchase and if you have sufficient funds in your Investments. Even then, we first recommend that you to liquidate enough funds to make up your Emergency fund and then and only then go ahead with the necessary purchase. Use this judgment wisely.
</p>
<p>
<h3>Check your Retirement Contribution</h3>
For this version, we are currently making a rudimentary evaluation based on age.
Reference needed:??????
If your age is less than or equals 40, then we check if the monthly retirement contribution is atleast 8% of your monthly Net income. If above 40, then we check if it is atleast 10% of your monthly Net income.
Upcoming:
We will be making more accurate calculations based on your Current Retirement Savings, Age and Yearly Gross Income. Stay Tuned.
</p>
<p>
<h3>Check your Deferred Loans</h3>
If you have deferred loans, we approve of the purchase only if item costs less than $1000 and if you specified that you absolutely need it. Otherwise, we throw a red flag and advise you to start paying it off. Use this judgment wisely.
</p>

</div>


 <div id="feedback">
    <% form_remote_tag :url => { :action => "rules_feedback" },
                      :before => "Element.show('spinner');",:complete => "Element.hide('spinner')" do %>
       <h3>What other Checks would you like to see?</h3>
        <p>        
        <%= text_area_tag :description, "Let us know!", :cols => "50", :rows => "4",
                                                 :onblur => "if (this.value == '') {this.value = 'Let us know!';}", :onfocus => "if (this.value == 'Let us know!') {this.value = '';}" -%>
        </p>
        <p>
          <%= text_field_tag :feedback_email, "Your email (optional) for us to reach you", :size => 51,
                                                 :onblur => "if (this.value == '') {this.value = 'Your email (optional) for us to reach you';}", :onfocus => "if (this.value == 'Your email (optional) for us to reach you') {this.value = '';}" -%>
        </p>
        <p>
        <%= submit_tag "Submit" %><%= image_tag 'loading.gif', :id=>"spinner", :style=>"display:none;" %>
        </p>
    <% end %>
</div>
<div id="feedback-status" style="background-color:#378314;font-weight:bold;color:#fff;"></div>

