<%= javascript_include_tag 'jquery.cycle.lite.1.0.min' %>
<%= javascript_include_tag 'jquery.lightbox-0.5.min' %>
<%= stylesheet_link_tag 'jquery.lightbox-0.5' %>
<script type="text/javascript">
   $j(function(){  // $(document).ready shorthand
      $j('#testimonials').cycle({
          delay:  5000,
          speed:  1000,
          timeout: 10000
      });
      $j('#gallery a').lightBox();
   });
</script>

<div id="container">
  <div style="height:290px;">
<div class="how-to">  
  
    <div class="sub-title">How does it work?</div>
      <ul style="">
        <li>Tell us about your planned <i>Purchase</i></li>
        <li>Fill in our free, anonymous financial health checklist and we'll calculate an instant answer</li>
        <li>View
          <span id="gallery" style="font-size:14px;font-style:italic;">
            <a href="images/report-1.png" title="">Sample Report #1</a>  | 
            <a href="images/report-2.png" title="">Sample Report #2</a>
          </span>
        </li>
   
          <li>Make an <i>Informed</i> decision</li>
      </ul>
</div>

<div class="right-container">

  <div class="testimonials-title">Verdict from our users</div>
  <div id="testimonials">

    <div id="testimonial_1">
      I thought I was doing pretty good until the Expert pointed out that my Savings were not enough to cover the Emergency Fund.
      Had never thought of that. Thanks!
      <div class="author">Mike L.</div>
    </div>
    <div id="testimonial_2">
      It never occurred to me that a couple of hundred dollars less into my 401(k) per month would result in my nest egg going lower
      by $300K when I retire. Made me think twice.
       <div class="author">Lisa B.</div>
    </div>
    <div id="testimonial_3">
      I like it when [report] tells me the future value of the money that I am going to spend now.
       <div class="author">Paul A.</div>
    </div>
    <div id="testimonial_4">
      It is useful when the report tells me when I can afford the item approximately when I am denied.
       <div class="author">Ariel S.</div>
    </div>
    <div id="testimonial_5">
       It's good to confirm that all my bases are covered before making my purchase. The report does a fine job of giving me a quick summary.
       <div class="author">Kathy D.</div>
    </div>
  </div>
</div>
  </div>

</div>

<style type="text/css">
  .author {
    font-style:normal;
    text-align:right;
    margin-top:5px;
  }
  .testimonials-title {
    color:#ff4800;
    font-weight: bold;
    text-align:center;
    margin: 25px 0px;
    font-size:26px;
}
.how-to {
/* border-right1:3px dotted #AAAAAA; */
height:265px;
/* padding1:10px 20px 0 0; */
width:540px;
float:left;
margin:0;
color:#444444;
display:block;
/* background-color: #ffddd0; */
background-color:#e8eefa;
-moz-border-radius:5px;
font-size:24px;
text-align:left;
padding:10px;
}
#ask-question {
 background-color:#e8eefa;
}
.sub-title {
  border-bottom:1px solid;
  /* color1:#ff4800;*/
  color:#045F93;
  font-weight: bold;
  text-align:center;
  font-size:26px;
  margin-bottom: 25px;
}
 .how-to ul {
  list-style-type:disc;
  margin-top:10px;
  text-align:left;
  width:90%;
  font-size:24px;
}
 .how-to ul li {
  background:none repeat scroll 0 0 transparent;
  border:0 none;
  font-size:22px;
  margin:0;
  outline:0 none;
  padding:0;
  vertical-align:baseline;
  margin-bottom: 15px;
}
.starter-form {  
 /* background-color: #ffddd0; */
  background-color:#C3D9FF;
  -moz-border-radius:5px;
  font-size:24px;
  text-align:left;
  padding:10px;
  clear:both;
  margin-top: 20px;
}
.right-container{
  width:33%;
  margin-left:600px;
  max-width:36em;
}

.button {
  -moz-border-radius:8px 8px 8px 8px;
  cursor:pointer;
display:block;
font-size:18px;
font-weight:bold;
margin:0 10px 0 0;
text-decoration:none;
}
.ask-button {
background-color:#ff4800;
/* background-image:url("/images/v2/button_overlay.png"); */
background-repeat:repeat-x;
border:2px solid #CCCCCC;
color:white;
padding: 5px;
margin-left:330px;
}
.ask-button:hover {
  background-color:#ff692e;
}
#goal {
  clear:both;
}
#container {
  line-height:130%;
  margin:10px auto;
}
#testimonials{
  height:150px;
  font-size:large;
  font-style:italic;
  font-family:Georgia,serif;
  line-height: 1.5;
}

  </style>

<%= render :partial => 'new' %>

<div style="float:left;">
    <h2>Recently Asked</h2>
</div> 

<div id="snippets">
  <%= render :partial => 'snippet' ,:collection => @questions, :as => :question, :spacer_template => 'separator' %>
</div><br/>
<%= link_to "More...", '/recent_posts' %>
<div id="notification-prompt">
    <% form_remote_tag :url => {:action => 'subscribe'},:update => 'notification-status' do %>
        <%= label_tag "Notify Me when a new Question is posted" %>
        <%= text_field_tag 'subscriber_email', "Enter Your Email address", :size => '28',
                                               :onblur => "if (this.value == '') {this.value = 'Enter Your Email address';}", :onfocus => "if (this.value == 'Enter Your Email address') {this.value = '';}" %>
        <%= submit_tag "Notify Me" %>
    <% end %>
    <div id="notification-status"></div>
</div>