<script type="text/javascript">
    var mycallback = function() {
      $('user_session_username').focus();
    };
</script>
<div id="snippets" class='snippet-odd snippet'>
    <%= render :partial => 'snippet_body', :object => @question, :locals => {:question => @question} %>
</div>
<br/>

<div>
  <div style="float:left;" id="prompt-user-response">
    <% if !current_user || (current_user && !@question.is_responded_by(current_user)) %>
           <%= link_to image_tag('/images/comment.png') %> <%= link_to_function "Your Response?" do |page|
             page.delay(0.1) do
                page.visual_effect :fade,  'expert-response'
                page.visual_effect :fade, 'financial-details'
             end
              page.hide "p_more_link_up"
              page.show "p_more_link_down"
              page.delay(1) do
                 page.visual_effect :appear, 'user-response', :afterFinish => "function(){$('user_session_username').focus()}"
             end
           end %>
      <% end %>
  </div>
  <div style="float:right;">
     <%= link_to image_tag('/images/report.png') %> <%= link_to_function "View Expert's Response" do |page|
       page.delay(0.1) do
        page.visual_effect :fade,  'user-response'
        page.visual_effect :fade,  'user-response-status'
       end
       page.delay(0.5) do
        page.visual_effect :fade,  "financial-details"
        page.hide "p_more_link_up"
        page.show "p_more_link_down"
       end
        page.delay(1) do
          page.visual_effect :appear, 'expert-response'
        end
       end %>
   </div>
</div>

<%= link_to_function( "View Financial Details",  :id => "p_more_link_down", :style => 'display:none;') do |page|
        page.show "p_more_link_up"
        page.hide "p_more_link_down"
        page.delay(0.5) do
          page.visual_effect :fade, 'expert-response'
          page.visual_effect :fade, 'user-response'
          page.visual_effect :fade, 'user-response-status'
        end
        page.delay(0.5) do
          page.visual_effect  :appear, "financial-details"
        end
 end  %>

 <%= link_to_function( "Hide Financial Details",  :id => "p_more_link_up") do |page|
        page.delay(0.5) do
          page.visual_effect  :fade, "financial-details"
        end
        page.hide "p_more_link_up"
        page.show "p_more_link_down"
 end  %>

      <div id="user-response" style="display:none;margin-top:20px;height:200px;">

        <% if current_user %>          
            <%  form_remote_for @response, :url => { :controller => 'responses', :action => "create", :id => "#{@question.id}" },
                      :before => "Element.show('spinner');",:complete => "Element.hide('spinner')" do |f| %>
                   
                      <p>
                        <%= f.label "What is your Reasoning?" %><br />
                        <%= f.text_area 'reason', :rows => 4, :cols => 80  %>
                      </p>
                      <p>
                        <%= f.label "Your Verdict?" %><br />
                        <%= f.radio_button 'verdict', "1" %>Approved
                        <%= f.radio_button 'verdict', "0" %>Denied
                      </p>
                  <div style="margin-top: 10px;">
                  <%= f.submit 'Submit' %><%= image_tag 'loading.gif', :id=>"spinner", :style=>"display:none;" %>
                  </div>
           <% end %>
        <% else %>
              <div id="inplace-login">
                    <% @user_session = UserSession.new %>
                    <% session[:return_to] = "#{DOMAIN}questions/show/#{@question.id}" %>
                    <% form_for(@user_session) do |f| %>
                      <%= error_messages_for :user_session, :header_message => '', :message => '' %><br/>
                      <b>Login</b>
                      <p>
                        <%= f.label :username, "Nick Name" %><br/>
                        <%= f.text_field :username, :size => '27' %>
                      </p>
                      <p>
                        <%= f.label :password, 'Password:' %><br/>
                        <%= f.password_field :password, :size => '27' %>
                      </p>
                      <p>
                        <%= f.submit 'Login', :class => 'submit' %>
                      </p>

                    <% end %>
              </div>
                      <div id="divider">
                        or
                      </div>

              <div id="inplace-register">
                    <% @user = User.new %>
                    <% session[:return_to] = "#{DOMAIN}questions/show/#{@question.id}" %>
                    <% form_for(@user) do |f| %>
                          <%= error_messages_for :user, :header_message => '', :message => '' %><br/>
                          <b>Register</b>

                            <p>
                              <%= f.label :username, "Nick Name" %><br/>
                              <%= f.text_field :username, :size => '27' %>
                            </p>

                            <p>
                              <%= f.label :password, 'Password:' %><br/>
                              <%= f.password_field :password, :size => '27' %>
                            </p>
                            <p>
                              <%= f.submit 'Submit', :class => 'submit' %>
                            </p>


                      <% end %>
              </div>
        <% end %>
    </div>
<div id="user-response-status" style="color:red;"></div>
<div id="expert-response" style="display:none;margin-top:30px;">
    <fieldset>
      <legend><b>Details</b></legend>
      <ul>
        <%= @question.expert_details %>
      </ul>
    </fieldset>
</div>

<div id="financial-details" style="margin-top:20px;">
     <%= render :partial => "financial_details", :object => @financial, :local => {:question => @question} %>
</div>

<br/>

<div style="float:right;clear:both;padding-top:5px;">
  <% link_to image_tag('/images/ask.png'), {:controller => :questions , :action => :new} %>
  </div>

<div id="all-responses">
  <h2 style="margin-left:8px"><a name="responses"><%= image_tag('/images/group.png') %> Community Responses (<%= @question.responses.size %>)</a></h2>
  <div id="notification-prompt">
  <% form_remote_tag :url => {:action => 'subscribe_responses', :qid => @question.id}, :update => 'notification-status' do %>
      <%= label_tag "Notify Me when a new Response is posted" %>
      <%= text_field_tag :subscriber_email, "Enter Your Email address", :size => '28',
                                            :onblur => "if (this.value == '') {this.value = 'Enter Your Email address';}",
                                            :onfocus => "if (this.value == 'Enter Your Email address') {this.value = '';}" %>
      <%= submit_tag "Notify Me" %>
  <% end %>
  <div id="notification-status"></div>
  </div>


  <%= render :partial => 'responses/response', :collection => @question.responses %>
  
</div>
