<% form_for(@user) do |f| %>  
  
    <%= error_messages_for :user, :header_message => '', :message => '' %><br/>
    <fieldset>
      <% if button_type == 'Submit' %>
            <legend><b>Register</b></legend>
      <% else %>
            <legend><b>Edit Profile</b></legend>
      <% end %>  
      <p>
        <%= f.label :username, "Username" %><br/>
        <%= f.text_field :username %>
      </p>

      <p>
        <% if button_type == 'Submit' %>
            <%= f.label :password, 'Password:' %><br/>
        <% else %>
            <%= f.label :password, 'Choose New Password:' %><br/>
        <% end %>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.submit button_type, :class => 'submit' %>
      </p>
    </fieldset>
  
<% end %>  