<h3>Your Financial Status</h3>
<fieldset>
  <legend><b>Monthly Income & Expenses</b></legend>

<p>
  <%= f.label :gross_income, "Gross Monthly Income (between $2,500 and $8,000 only)" %><br />
  <% show_value = (!@financial.gross_income.nil? && @financial.gross_income > 0) ? @financial.gross_income : ""  %>
  <%= f.text_field :gross_income, :value => "#{show_value}" %>
</p>
<p>
  <%= f.label :net_income, "Net/Take Home Monthly Income  (between $1,000 and $8,000 only)" %><br />
  <% show_value = (!@financial.net_income.nil? && @financial.net_income > 0) ? @financial.net_income : ""  %>
  <%= f.text_field :net_income, :value => "#{show_value}" %>
</p>
<p>
  <%= f.label :total_expenses, "Total Monthly Expenses" %><br />
  <span style="font-size:14px;">(Living Expenses & All loan payments including Credit card debts)</span>
  <% show_value = (!@financial.total_expenses.nil? && @financial.total_expenses > 0) ? @financial.total_expenses : ""  %>
  <%= f.text_field :total_expenses, :value => "#{show_value}"  %>
</p>
</fieldset>
<div style="clear:both;">
<fieldset style="float:left;width:40%;">
  <legend><b>Monthly Loan Payments</b></legend>
<p>
  <%= f.label :mortage_payment, "Home Mortgage Payment" %><br />
  <%= f.text_field :mortage_payment %>
</p>
<p>
  <%= f.label :car_loan_payment, "Car Loan Payment" %><br />
  <%= f.text_field :car_loan_payment %>
</p>
<p>
  <%= f.label :student_loan_payment, "Student Loan Payment" %><br />
  <%= f.text_field :student_loan_payment %>
</p>
<p>
  <%= f.label :other_loan_payment, "Any Other Loan Payments" %><br />
  <%= f.text_field :other_loan_payment %>
</p>
<p>
  <%= f.label :deferred_loan_amount, "Total Deferred Loan Amount" %><br />
  <%= f.text_field :deferred_loan_amount %>
</p>
</fieldset>


<fieldset  style="float:right;width:48%;">
  <legend><b>Credit Card Loans & Payments</b></legend>
  <p>
    <%= f.label :cc_debt_at_zero, "Total Credit Card Debts @ 0% rate" %><br />
    <%= f.text_field :cc_debt_at_zero %>
  </p>
  
  <p>    
    <%= f.label :monthly_cc_payments_at_zero, "Monthly Payments towards 0% rate Debts" %><br />
    <%= f.text_field :monthly_cc_payments_at_zero %>    
  </p>
  <p>
    <%= f.label :cc_debt_gt_zero, "Total Credit Card Debts @ above 0% rates" %><br />
    <%= f.text_field :cc_debt_gt_zero %>
  </p>
</fieldset>
</div>

<div  style="clear:both;">
<fieldset style="float:left;width:44%;">
  <legend><b>Assets</b></legend>
<p>
  <%= f.label :liquid_assets, "Liquid Assets (CDs, Money Market etc)" %><br />
   <% show_value = (!@financial.liquid_assets.nil? && @financial.liquid_assets > 0) ? @financial.liquid_assets : ""  %>
  <%= f.text_field :liquid_assets,  :value => "#{show_value}" %>
</p>
<p>
  <%= f.label :investments, "Investments" %><br />
  <%= f.text_field :investments %>
</p>
</fieldset>

<fieldset style="float:right;width:44%;">
  <legend><b>Retirement</b></legend>
<p>
  <%= f.label :retirement_savings, "Retirement Savings ($0 upto $100,000)" %><br />
  <%= f.text_field :retirement_savings %>
</p>
<p>
  <%= f.label :monthly_retirement_contribution, "Monthly Retirement Contribution" %><br />
  <%= f.text_field :monthly_retirement_contribution %>
</p>
</fieldset>
</div>
<span style="float:left;clear:both;"></span>