<% form_for(@user_session) do |f| %>
  <%= error_messages_for :user_session, :header_message => '', :message => '' %><br/>

  <fieldset>
  <legend><b>Login</b></legend>
  <p>
    <%= f.label :username, "Nick Name" %><br/>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password, 'Password:' %><br/>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Login', :class => 'submit' %>
  </p>
</fieldset>

<% end %>