<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="Get a Second Opinion before a purchase from our Expert Calculator and our Community. Also Boost your Financial Savvy by responding to Questions."/>
  <meta content="free personal finance software, online money management, budget planning tips, financial planning affordability calculator" name="keywords"/>
  <title>Free Affordability Calculator, Personal Finance Software - Get a Second Opinion from our Expert and Community before making a purchase</title>
  <%= stylesheet_link_merged :base %>
  <%= javascript_include_merged :proto %>
  <%= javascript_include_merged :rest %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19253006-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body>

<div id="superwrapper">
  <div id="wrapper">
    <div id="layer">
      <div id="header">
          <!--[if lt IE 7]>
          <div class="banner" style="height:33px; padding:10px 20px 7px 30px;background-color:#ff0000;">
          It appears you are using a version of Internet Explorer that we do not support. Please use IE 7 or above.
          </div> <![endif]-->
          <div id="top-header">
              <div id="logo">
                 <%= link_to image_tag('/images/newlogo-pic-w.png'), root_path %>
              </div>
               <div id="login">
                  <% if current_user && current_user.username == 'admin' %>
                    <%= link_to "ADMIN |", admin_path unless action_name == 'admin' %>
                  <% end %>
  
                  <% if current_user %>
                      <% link_to "Home", root_path if controller.action_name != 'index' %>
                      <b><%= current_user.username.capitalize %></b> | <%= link_to "#{image_tag('/images/lock_open.png')} LOGOUT", logout_path %> 
                   <% else %>                                    
                          <% link_to "Home", root_path if controller.action_name != 'index' %>
                          <%= link_to "#{image_tag('/images/lock.png')} LOGIN", login_path unless controller_name == 'user_sessions' %><br/>
                   <% end %>
                   <% if controller.action_name != 'about' && controller.action_name != 'tos' && controller.action_name != 'privacy' %>     
                      <% if current_user %><br/>
                            <div id="user-stat">
                              <% current_user.username %> <%= pluralize current_user.responses.count, 'response' %> |
                               agreed with Expert: <%= @user_agreed_with_expert %>  |
                               agreed with Community: <%= @user_agreed_with_community %>
                            </div><br/>
                       <% end %>                       
                   <% end %>
                   <b><% link_to "Learn How Expert Calculates", "#{DOMAIN}how", :class => 'learn-button button' %></b>                   
                  <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.caniafforditnow.com%2F&amp;layout=standard&amp;show_faces=false&amp;width=250&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:40px; padding-top:2px;" allowTransparency="true"></iframe>
               </div>
          </div>
          

         <div id="tagline">
          <ul>
            <li>Get a Second Opinion before Purchase</li>
            <li>Get a Free Financial Health Check Anonymously and Instantly</li>
            <li>Boost your Financial Savvy by responding to Questions</li>
          </ul>
         </div>

      </div>
      <% if controller.action_name == 'index' || controller.action_name == 'show' %>
      <div id="learn">
        <br/><br/><% link_to image_tag('/images/learnhow2.png'), "#{DOMAIN}how" %><br/><br/>
      </div>
          <div style="float:right;">
        <% link_to image_tag('/images/ask.png'), {:controller => :questions , :action => :new} %>
        </div>

      <% end %>
  

      <div id="main">
          <div id="flash-notice" style="color:#0B84E8;">
             <p><%= flash[:notice] %></p>
          </div>
          <div id="flash-error" style="color:#0B84E8;">
             <p><%= flash[:error] %></p>
          </div>
  
  <span id="feedback1" style="display:none;"><% facebox_link_to "Feedback",  {:url => DOMAIN + "experiences/capture_experience"} %></span>
  <span id="feedback-invoke"><%= link_to_function "Feedback",  visual_effect(:toggle_blind, "feedback", :duration => 0.5) %></span>
  <%= render :partial => "layouts/feedback" %>
 
    <%= yield %>
        
      </div>
        <div id="footer">
         <ul>
          <li>©2010 CanIAffordItNow.com</li> |
          <li><%=  link_to "Learn How Expert Calculates", "#{DOMAIN}how" %></li> |
          <li><%=  link_to "About" , "#{DOMAIN}about" %></li> |
          <li><%=  link_to "Disclaimer" , "#{DOMAIN}disclaimer" %></li> |
          <li><%=  link_to "Privacy" , "#{DOMAIN}privacy" %></li>
        </ul>
      </div>
  </div>
  </div>
  </div>

</body>
</html>
